@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Font';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Font-Regular.woff2') format('woff2');
    font-display: fallback;
  }
  @font-face {
    font-family: 'Font';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Font-Medium.woff2') format('woff2');
    font-display: fallback;
  }
  @font-face {
    font-family: 'Font';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Font-Bold.woff2') format('woff2');
    font-display: fallback;
  }
}
